table {
    table-layout: auto;
}

body {
    /*max-width: 1200px;*/
}

td button {
    padding-right: 10px;
    padding-left: 10px;
}

#details {
    /*top: 10px;*/
    /*bottom: 10px;*/

    /*overflow: auto;*/
}

#backdrop[data-open="true"] {
    /* not all browsers support ::backdrop, it seems */
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,.61);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

dialog::backdrop {
    display: none;
}

dialog {
    padding: 10px 0;
    top: 0;
    bottom: 0;
    max-width: 1000px;
    max-height: 100vh;
    background-color: unset;
}

dialog > *:last-child {
    padding: 10px 30px;
    background-color: #f7f7f7;
    background-color: var(--background-alt);
}

dialog > header:first-child {
    margin: 0;
}

dialog menu {
    display: flex;
    padding: 0;
    justify-content: flex-end;
}